<script src="../bower_components/jquery/dist/jquery.min.js"></script>

<!-- START SIGMA IMPORTS -->
<script src="../public/plugin/sigma/src/sigma.core.js"></script>
<script src="../public/plugin/sigma/src/conrad.js"></script>
<script src="../public/plugin/sigma/src/utils/sigma.utils.js"></script>
<script src="../public/plugin/sigma/src/utils/sigma.polyfills.js"></script>
<script src="../public/plugin/sigma/src/sigma.settings.js"></script>
<script src="../public/plugin/sigma/src/classes/sigma.classes.dispatcher.js"></script>
<script src="../public/plugin/sigma/src/classes/sigma.classes.configurable.js"></script>
<script src="../public/plugin/sigma/src/classes/sigma.classes.graph.js"></script>
<script src="../public/plugin/sigma/src/classes/sigma.classes.camera.js"></script>
<script src="../public/plugin/sigma/src/classes/sigma.classes.quad.js"></script>
<script src="../public/plugin/sigma/src/captors/sigma.captors.mouse.js"></script>
<script src="../public/plugin/sigma/src/captors/sigma.captors.touch.js"></script>
<script src="../public/plugin/sigma/src/renderers/sigma.renderers.canvas.js"></script>
<script src="../public/plugin/sigma/src/renderers/sigma.renderers.webgl.js"></script>
<script src="../public/plugin/sigma/src/renderers/sigma.renderers.svg.js"></script>
<script src="../public/plugin/sigma/src/renderers/sigma.renderers.def.js"></script>
<script src="../public/plugin/sigma/src/renderers/webgl/sigma.webgl.nodes.def.js"></script>
<script src="../public/plugin/sigma/src/renderers/webgl/sigma.webgl.nodes.fast.js"></script>
<script src="../public/plugin/sigma/src/renderers/webgl/sigma.webgl.edges.def.js"></script>
<script src="../public/plugin/sigma/src/renderers/webgl/sigma.webgl.edges.fast.js"></script>
<script src="../public/plugin/sigma/src/renderers/webgl/sigma.webgl.edges.arrow.js"></script>
<script src="../public/plugin/sigma/src/renderers/canvas/sigma.canvas.labels.def.js"></script>
<script src="../public/plugin/sigma/src/renderers/canvas/sigma.canvas.hovers.def.js"></script>
<script src="../public/plugin/sigma/src/renderers/canvas/sigma.canvas.nodes.def.js"></script>
<script src="../public/plugin/sigma/src/renderers/canvas/sigma.canvas.edges.def.js"></script>
<script src="../public/plugin/sigma/src/renderers/canvas/sigma.canvas.edges.curve.js"></script>
<script src="../public/plugin/sigma/src/renderers/canvas/sigma.canvas.edges.arrow.js"></script>
<script src="../public/plugin/sigma/src/renderers/canvas/sigma.canvas.edges.curvedArrow.js"></script>
<script src="../public/plugin/sigma/src/renderers/canvas/sigma.canvas.edgehovers.def.js"></script>
<script src="../public/plugin/sigma/src/renderers/canvas/sigma.canvas.edgehovers.curve.js"></script>
<script src="../public/plugin/sigma/src/renderers/canvas/sigma.canvas.edgehovers.arrow.js"></script>
<script src="../public/plugin/sigma/src/renderers/canvas/sigma.canvas.edgehovers.curvedArrow.js"></script>
<script src="../public/plugin/sigma/src/renderers/canvas/sigma.canvas.extremities.def.js"></script>
<script src="../public/plugin/sigma/src/renderers/svg/sigma.svg.utils.js"></script>
<script src="../public/plugin/sigma/src/renderers/svg/sigma.svg.nodes.def.js"></script>
<script src="../public/plugin/sigma/src/renderers/svg/sigma.svg.edges.def.js"></script>
<script src="../public/plugin/sigma/src/renderers/svg/sigma.svg.edges.curve.js"></script>
<script src="../public/plugin/sigma/src/renderers/svg/sigma.svg.labels.def.js"></script>
<script src="../public/plugin/sigma/src/renderers/svg/sigma.svg.hovers.def.js"></script>
<script src="../public/plugin/sigma/src/middlewares/sigma.middlewares.rescale.js"></script>
<script src="../public/plugin/sigma/src/middlewares/sigma.middlewares.copy.js"></script>
<script src="../public/plugin/sigma/src/misc/sigma.misc.animation.js"></script>
<script src="../public/plugin/sigma/src/misc/sigma.misc.bindEvents.js"></script>
<script src="../public/plugin/sigma/src/misc/sigma.misc.bindDOMEvents.js"></script>
<script src="../public/plugin/sigma/src/misc/sigma.misc.drawHovers.js"></script>
<!-- END SIGMA IMPORTS -->
<script src="../public/plugin/sigma/plugins/sigma.renderers.edgeLabels/settings.js"></script>
<script src="../public/plugin/sigma/plugins/sigma.renderers.edgeLabels/sigma.canvas.edges.labels.def.js"></script>
<script src="../public/plugin/sigma/plugins/sigma.renderers.edgeLabels/sigma.canvas.edges.labels.curve.js"></script>
<script src="../public/plugin/sigma/plugins/sigma.renderers.edgeLabels/sigma.canvas.edges.labels.curvedArrow.js"></script>

<script src="../public/plugin/sigma/plugins/sigma.renderers.linkurious/settings.js"></script>
<script src="../public/plugin/sigma/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.labels.def.js"></script>
<script src="../public/plugin/sigma/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.hovers.def.js"></script>
<script src="../public/plugin/sigma/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.nodes.def.js"></script>
<script src="../public/plugin/sigma/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.edges.def.js"></script>
<script src="../public/plugin/sigma/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.edges.curve.js"></script>
<script src="../public/plugin/sigma/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.edges.arrow.js"></script>
<script src="../public/plugin/sigma/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.edges.curvedArrow.js"></script>
<script src="../public/plugin/sigma/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.edgehovers.def.js"></script>
<script src="../public/plugin/sigma/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.edgehovers.curve.js"></script>
<script src="../public/plugin/sigma/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.edgehovers.arrow.js"></script>
<script src="../public/plugin/sigma/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.edgehovers.curvedArrow.js"></script>
<script src="../public/plugin/sigma/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.edges.autoCurve.js"></script>

<script src="../public/plugin/sigma/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.labels.def.js"></script>
<script src="../public/plugin/sigma/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.hovers.def.js"></script>
<script src="../public/plugin/sigma/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.nodes.def.js"></script>
<script src="../public/plugin/sigma/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.nodes.cross.js"></script>
<script src="../public/plugin/sigma/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.nodes.diamond.js"></script>
<script src="../public/plugin/sigma/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.nodes.equilateral.js"></script>
<script src="../public/plugin/sigma/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.nodes.square.js"></script>
<script src="../public/plugin/sigma/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.nodes.star.js"></script>
<script src="../public/plugin/sigma/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.edges.def.js"></script>
<script src="../public/plugin/sigma/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.edges.curve.js"></script>
<script src="../public/plugin/sigma/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.edges.arrow.js"></script>
<script src="../public/plugin/sigma/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.edges.curvedArrow.js"></script>


<script src="../public/plugin/sigma/plugins/sigma.renderers.linkurious/settings.js"></script>
<script src="../public/plugin/sigma/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.labels.def.js"></script>
<script src="../public/plugin/sigma/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.hovers.def.js"></script>
<script src="../public/plugin/sigma/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.nodes.def.js"></script>
<script src="../public/plugin/sigma/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.nodes.cross.js"></script>
<script src="../public/plugin/sigma/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.nodes.diamond.js"></script>
<script src="../public/plugin/sigma/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.nodes.equilateral.js"></script>
<script src="../public/plugin/sigma/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.nodes.square.js"></script>
<script src="../public/plugin/sigma/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.nodes.star.js"></script>
<script src="../public/plugin/sigma/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.edges.def.js"></script>
<script src="../public/plugin/sigma/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.edges.curve.js"></script>
<script src="../public/plugin/sigma/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.edges.arrow.js"></script>
<script src="../public/plugin/sigma/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.edges.curvedArrow.js"></script>

<script src="../public/plugin/sigma/plugins/sigma.plugins.colorbrewer/sigma.plugins.colorbrewer.js"></script>
<script src="../public/plugin/sigma/plugins/sigma.plugins.design/sigma.plugins.design.js"></script>


<style>
    #graph-container {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
    }
</style>

<div id="container">
    <div id="graph-container"></div>
</div>
<script>
    var topicColor = [
        "#641A1A",
        "#11733D",
        "#2C33BD",

    ]

    var data = {
        domains: [
            {
                name: "google",
                size: 30
            },
            {
                name: "facebook",
                size: 10
            },
            {
                name: "twitter",
                size: 50
            },
            {
                name: "yahoo",
                size: 50
            },
            {
                name: "bing",
                size: 50
            },
            {
                name: "rediff",
                size: 50
            },
            {
                name: "hotmail",
                size: 50
            },
        ],

        topics: [
            {
                name: "topic1",
                size: 100,
                x: 0,
                y: 0,
            },
            {
                name: "topic2",
                size: 200,
                x: 0,
                y: 0.7,
            },
            {
                name: "topic3",
                size: 150,
                x: 0.7,
                y: 0.7,
            },
        ],

        matrix: [
            [{domain: 0, size: 40}, {domain: 1, size: 40}, {domain: 2, size: 40}, {domain: 2, size: 40}, {domain: 2, size: 40}, {domain: 2, size: 40}, {domain: 2, size: 40}],
            [{domain: 0, size: 10}, {domain: 1, size: 40}, null, null, null, {domain: 2, size: 10}, {domain: 2, size: 10}],
            [{domain: 0, size: 100}, null, {domain: 2, size: 10}, {domain: 2, size: 10}, {domain: 2, size: 10}, {domain: 2, size: 10}, {domain: 2, size: 10}]
        ]
    }

    var i, d,
            s,
            N = 10,
            E = 50,
            g = {
                nodes: [],
                edges: []
            };

    // main
    readData()
    createGraph()

    /**
     * read data
     */
    function readData() {
        for (i = 0; i < data.topics.length; i++) {
            d = data.topics[i];
            g.nodes.push({
                id: 't' + i,
                label: d.name,
                x: d.x,
                y: d.y,
                size: d.size,
                color: topicColor[i]
            })
        }

        for (i = 0; i < data.domains.length; i++) {
            d = data.domains[i];
            var x = rand(0.15, 0.65)
            var y = rand(0.15, 0.65)
            console.log(x, y)
            g.nodes.push({
                id: 'd' + i,
                label: d.name,
                x: x,
                y: y,
                size: d.size,
                color: "#342B2B"
            })
        }

        var k = 0
        for (var i = 0; i < data.matrix.length; i++) {
            for (var j = 0; j < data.matrix[i].length; j++) {
                var o = data.matrix[i][j];
                if (o) {
                    g.edges.push({
                        id: 'e' + k,
//                        label: data.domains[j].name + " " + data.topics[i].name,
                        target: 't' + i,
                        source: 'd' + j,
                        size: o.size,
                        color: topicColor[i],
                    })
                    k++
                }
            }
        }
    }


    // // test RANDOM data
    //    // Generate a random graph:
    //    for (i = 0; i < N; i++)
    //        g.nodes.push({
    //            id: 'n' + i,
    //            label: 'Node ' + i,
    //            x: Math.random(),
    //            y: Math.random(),
    //            size: Math.random(),
    //            type: ['circle', 'cross', 'square', 'diamond', 'star', 'equilateral'][Math.random() * 6 | 0],
    //            color: '#666'
    //        });
    //
    //    for (i = 0; i < E; i++)
    //        g.edges.push({
    //            id: 'e' + i,
    ////            label: 'Edge ' + i,
    //            source: 'n' + 1,
    //            target: 'n' + (Math.random() * N | 0),
    //            size: Math.random(),
    //            color: '#d69114',
    //            type: ['curve', 'arrow', 'curvedArrow'][Math.random() * 3 | 0]
    //        });


    /**
     * create graph
     */
    function createGraph() {
        console.log(g)
        // Instantiate sigma:
        s = new sigma({
            graph: g,
            renderer: {
                container: document.getElementById('graph-container'),
                type: 'canvas'
            },
            settings: {
                doubleClickEnabled: false,
                minEdgeSize: 0.5,
                maxEdgeSize: 4,
                enableEdgeHovering: true,
                edgeHoverColor: 'edge',
                defaultEdgeHoverColor: '#000',
                edgeHoverSizeRatio: 1,
                edgeHoverExtremities: true,
                autoCurveRatio: 2,
                labelThreshold: 0,
                minNodeSize: 8,
                maxNodeSize: 16,
            }
        });

        // Curve parallel edges:
        sigma.canvas.edges.autoCurve(s);
        s.refresh();
    }

    function rand(min, max) {
        return Math.random() * (max - min) + min;
    }

</script>
