<script src="../bower_components/d3/d3.min.js"></script>
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<!-- START SIGMA IMPORTS -->
<script src="../public/plugin/sigma/src/sigma.core.js"></script>
<script src="../public/plugin/sigma/src/conrad.js"></script>
<script src="../public/plugin/sigma/src/utils/sigma.utils.js"></script>
<script src="../public/plugin/sigma/src/utils/sigma.polyfills.js"></script>
<script src="../public/plugin/sigma/src/sigma.settings.js"></script>
<script src="../public/plugin/sigma/src/classes/sigma.classes.dispatcher.js"></script>
<script src="../public/plugin/sigma/src/classes/sigma.classes.configurable.js"></script>
<script src="../public/plugin/sigma/src/classes/sigma.classes.graph.js"></script>
<script src="../public/plugin/sigma/src/classes/sigma.classes.camera.js"></script>
<script src="../public/plugin/sigma/src/classes/sigma.classes.quad.js"></script>
<script src="../public/plugin/sigma/src/captors/sigma.captors.mouse.js"></script>
<script src="../public/plugin/sigma/src/captors/sigma.captors.touch.js"></script>
<script src="../public/plugin/sigma/src/renderers/sigma.renderers.canvas.js"></script>
<script src="../public/plugin/sigma/src/renderers/sigma.renderers.webgl.js"></script>
<script src="../public/plugin/sigma/src/renderers/sigma.renderers.svg.js"></script>
<script src="../public/plugin/sigma/src/renderers/sigma.renderers.def.js"></script>
<script src="../public/plugin/sigma/src/renderers/webgl/sigma.webgl.nodes.def.js"></script>
<script src="../public/plugin/sigma/src/renderers/webgl/sigma.webgl.nodes.fast.js"></script>
<script src="../public/plugin/sigma/src/renderers/webgl/sigma.webgl.edges.def.js"></script>
<script src="../public/plugin/sigma/src/renderers/webgl/sigma.webgl.edges.fast.js"></script>
<script src="../public/plugin/sigma/src/renderers/webgl/sigma.webgl.edges.arrow.js"></script>
<script src="../public/plugin/sigma/src/renderers/canvas/sigma.canvas.labels.def.js"></script>
<script src="../public/plugin/sigma/src/renderers/canvas/sigma.canvas.hovers.def.js"></script>
<script src="../public/plugin/sigma/src/renderers/canvas/sigma.canvas.nodes.def.js"></script>
<script src="../public/plugin/sigma/src/renderers/canvas/sigma.canvas.edges.def.js"></script>
<script src="../public/plugin/sigma/src/renderers/canvas/sigma.canvas.edges.curve.js"></script>
<script src="../public/plugin/sigma/src/renderers/canvas/sigma.canvas.edges.arrow.js"></script>
<script src="../public/plugin/sigma/src/renderers/canvas/sigma.canvas.edges.curvedArrow.js"></script>
<script src="../public/plugin/sigma/src/renderers/canvas/sigma.canvas.edgehovers.def.js"></script>
<script src="../public/plugin/sigma/src/renderers/canvas/sigma.canvas.edgehovers.curve.js"></script>
<script src="../public/plugin/sigma/src/renderers/canvas/sigma.canvas.edgehovers.arrow.js"></script>
<script src="../public/plugin/sigma/src/renderers/canvas/sigma.canvas.edgehovers.curvedArrow.js"></script>
<script src="../public/plugin/sigma/src/renderers/canvas/sigma.canvas.extremities.def.js"></script>
<script src="../public/plugin/sigma/src/renderers/svg/sigma.svg.utils.js"></script>
<script src="../public/plugin/sigma/src/renderers/svg/sigma.svg.nodes.def.js"></script>
<script src="../public/plugin/sigma/src/renderers/svg/sigma.svg.edges.def.js"></script>
<script src="../public/plugin/sigma/src/renderers/svg/sigma.svg.edges.curve.js"></script>
<script src="../public/plugin/sigma/src/renderers/svg/sigma.svg.labels.def.js"></script>
<script src="../public/plugin/sigma/src/renderers/svg/sigma.svg.hovers.def.js"></script>
<script src="../public/plugin/sigma/src/middlewares/sigma.middlewares.rescale.js"></script>
<script src="../public/plugin/sigma/src/middlewares/sigma.middlewares.copy.js"></script>
<script src="../public/plugin/sigma/src/misc/sigma.misc.animation.js"></script>
<script src="../public/plugin/sigma/src/misc/sigma.misc.bindEvents.js"></script>
<script src="../public/plugin/sigma/src/misc/sigma.misc.bindDOMEvents.js"></script>
<script src="../public/plugin/sigma/src/misc/sigma.misc.drawHovers.js"></script>
<!-- END SIGMA IMPORTS -->
<script src="../public/plugin/sigma/plugins/sigma.plugins.colorbrewer/sigma.plugins.colorbrewer.js"></script>
<script src="../public/plugin/sigma/plugins/sigma.plugins.design/sigma.plugins.design.js"></script>

<script src="../public/plugin/sigma/plugins/sigma.renderers.linkurious/settings.js"></script>
<script src="../public/plugin/sigma/plugins/sigma.renderers.linkurious/webgl/sigma.webgl.nodes.def.js"></script>
<script src="../public/plugin/sigma/plugins/sigma.renderers.linkurious/webgl/sigma.webgl.nodes.fast.js"></script>
<script src="../public/plugin/sigma/plugins/sigma.renderers.linkurious/webgl/sigma.webgl.edges.def.js"></script>
<script src="../public/plugin/sigma/plugins/sigma.renderers.linkurious/webgl/sigma.webgl.edges.fast.js"></script>
<script src="../public/plugin/sigma/plugins/sigma.renderers.linkurious/webgl/sigma.webgl.edges.arrow.js"></script>
<script src="../public/plugin/sigma/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.labels.def.js"></script>
<script src="../public/plugin/sigma/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.hovers.def.js"></script>
<script src="../public/plugin/sigma/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.nodes.def.js"></script>
<script src="../public/plugin/sigma/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.nodes.cross.js"></script>
<script src="../public/plugin/sigma/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.nodes.diamond.js"></script>
<script src="../public/plugin/sigma/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.nodes.equilateral.js"></script>
<script src="../public/plugin/sigma/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.nodes.square.js"></script>
<script src="../public/plugin/sigma/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.nodes.star.js"></script>
<script src="../public/plugin/sigma/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.edges.def.js"></script>
<script src="../public/plugin/sigma/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.edges.curve.js"></script>
<script src="../public/plugin/sigma/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.edges.arrow.js"></script>
<script src="../public/plugin/sigma/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.edges.curvedArrow.js"></script>

<script src="../public/plugin/sigma/plugins/sigma.renderers.customEdgeShapes/sigma.canvas.edges.dashed.js"></script>
<script src="../public/plugin/sigma/plugins/sigma.renderers.customEdgeShapes/sigma.canvas.edges.dotted.js"></script>
<script src="../public/plugin/sigma/plugins/sigma.renderers.customEdgeShapes/sigma.canvas.edges.parallel.js"></script>
<script src="../public/plugin/sigma/plugins/sigma.renderers.customEdgeShapes/sigma.canvas.edges.tapered.js"></script>
<script src="../public/plugin/sigma/plugins/sigma.renderers.customEdgeShapes/sigma.canvas.edgehovers.dashed.js"></script>
<script src="../public/plugin/sigma/plugins/sigma.renderers.customEdgeShapes/sigma.canvas.edgehovers.dotted.js"></script>
<script src="../public/plugin/sigma/plugins/sigma.renderers.customEdgeShapes/sigma.canvas.edgehovers.parallel.js"></script>
<script src="../public/plugin/sigma/plugins/sigma.renderers.customEdgeShapes/sigma.canvas.edgehovers.tapered.js"></script>


<div id="container">
    <style>
        @font-face {
            font-family: roboto;
            src: url(../public/font/roboto/Roboto-Regular.ttf);
        }

        body {
            font-family: roboto, serif;
        }

        #graph-container {
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            position: absolute;
        }
    </style>
    <div id="graph-container"></div>
</div>
<script>
    /**
     * This is a basic example on how to develop a custom node renderer. In
     * this example, the renderer will display an image clipped in a disc,
     * with a border colored according the node's "color" value.
     *
     * If a node as the value "image" to its attribute "type", then it will
     * displayed with the node renderer "sigma.canvas.nodes.image", with the
     * url being its "url" value.
     *
     * IMPORTANT: This node renderer just works with the canvas renderer. If
     * you do want to display images with the WebGL renderer, you will have
     * to develop a specific WebGL node renderer.
     */
    sigma.utils.pkg('sigma.canvas.nodes');
    sigma.canvas.nodes.image = (function () {
        var _cache = {},
                _loading = {},
                _callbacks = {};

        // Return the renderer itself:
        var renderer = function (node, context, settings) {
            var args = arguments,
                    prefix = settings('prefix') || '',
                    size = node[prefix + 'size'],
                    color = node.color || settings('defaultNodeColor'),
                    url = node.url;

            if (_cache[url]) {
                context.save();

                // Draw the clipping disc:
                context.beginPath();
                context.arc(
                        node[prefix + 'x'],
                        node[prefix + 'y'],
                        node[prefix + 'size'],
                        0,
                        Math.PI * 2,
                        true
                );
                context.closePath();
                context.clip();

                // Draw the image
                context.drawImage(
                        _cache[url],
                        node[prefix + 'x'] - size,
                        node[prefix + 'y'] - size,
                        2 * size,
                        2 * size
                );

                // Quit the "clipping mode":
                context.restore();

                // Draw the border:
                context.beginPath();
                context.arc(
                        node[prefix + 'x'],
                        node[prefix + 'y'],
                        node[prefix + 'size'],
                        0,
                        Math.PI * 2,
                        true
                );
                context.lineWidth = size / 5;
                context.strokeStyle = node.color || settings('defaultNodeColor');
                context.stroke();
            } else {
                sigma.canvas.nodes.image.cache(url);
                sigma.canvas.nodes.def.apply(
                        sigma.canvas.nodes,
                        args
                );
            }
        };

        // Let's add a public method to cache images, to make it possible to
        // preload images before the initial rendering:
        renderer.cache = function (url, callback) {
            if (callback)
                _callbacks[url] = callback;

            if (_loading[url])
                return;

            var img = new Image();

            img.onload = function () {
                _loading[url] = false;
                _cache[url] = img;

                if (_callbacks[url]) {
                    _callbacks[url].call(this, img);
                    delete _callbacks[url];
                }
            };

            _loading[url] = true;
            img.src = url;
        };

        return renderer;
    })();

    var myPalette = {
        aQualitativeScheme: {
            'A': '#7fc97f',
            'B': '#beaed4',
            'C': '#fdc086'
        },
        colorbrewer: {
            sequentialGreen: sigma.plugins.colorbrewer.BuGn
        },
        ggplot2: {
            sequentialBlue: {
                7: ['#132b43', '#1d3f5d', '#27547a', '#326896', '#3d7fb5', '#4897d4', '#54aef3']
            },
        },
        aSetScheme: {
            7: ["#e41a1c", "#377eb8", "#4daf4a", "#984ea3", "#ff7f00", "#ffff33", "#a65628"]
        },
        nodeTypeScheme: {
            'A': 'square',
            'B': 'diamond',
            'C': 'star'
        },
        edgeTypeScheme: {
            'A': 'tapered'
        },
        imageScheme: {
            'A': {
                url: 'img/img1.png',
                // scale/clip are ratio values applied on top of 'size'
                scale: 1.3,
                clip: 0.85
            },
            'B': {
                url: 'img/img2.png',
                scale: 1.3,
                clip: 0.85
            },
            'C': {
                url: 'img/img3.png',
                scale: 1.3,
                clip: 0.85
            }
        },
        iconScheme: {
            'A': {
                font: 'FontAwesome',
                scale: 1.0,
                color: '#fff',
                content: "\uF11b"
            },
            'B': {
                font: 'FontAwesome',
                scale: 1.0,
                color: '#fff',
                content: "\uF11c"
            },
            'C': {
                font: 'FontAwesome',
                scale: 1.0,
                color: '#fff',
                content: "\uF11d"
            }
        }
    };

    var myStyles = {
        edges: {
            size: {
                by: 'data.quantity',
                bins: 7,
                max: 1
            },
            type: { // not implemented in webgl renderer
                by: 'data.quality',
                scheme: 'edgeTypeScheme'
            }
        }
    };

    // Now that's the renderer has been implemented, let's generate a graph
    // to render:
    var i,
            s,
            img,
            N = 100,
            E = 500,
            g = {
                nodes: [],
                edges: []
            },
            urls = [
                'img/img1.png',
                'img/img2.png',
                'img/img3.png',
                'img/img4.png'
            ],
            loaded = 0

    var topicColor = [
        "#A8252E",
        "#4000FF",
        "#979F2F",
        "#D800D5",
        "#6E6E6E",
        "#008844",
    ]

    var edgeColor = [
        "#A8252E",
        "#7145F7",
        "#979F2F",
        "#D800D5",
        "#6E6E6E",
        "#008844",
    ]

    var tagColor = {
        "BLOGS": "#FFAF5D",
        "NEWS": "#9A2727",
        "TWITTER": "#4D9BD7",
        "INFO": "#80FF00",
        "CORPORATE": "#1C1C1C"
    }

    var rejectDomains = [
        'globalsecuritymag.fr',
        'cabinet-recrutement.fr',
        'itchannel.info',
        'http://www.assemblee-nationale.fr',
        'assemblee-nationale.fr',
        'emploi.silicon.fr',
    ]

    function readData(data, next) {
        var nodes = [];

        for (i = 0; i < data.topics.length; i++) {
            d = data.topics[i];
            g.nodes.push({
                id: 't' + i,
                label: d.name,
                x: d.x,
                y: d.y,
                size: 10,
                color: topicColor[i],
                type: 'image',
                url: "img/my_topic.png",
            })

            nodes.push('t' + i)
        }

        var start = 0;
        var MAX = data.PARAM.MAXENTRIES;
        var tags = [];
        var len = 0

        var step = data.domains[0].y - data.domains[1].y
        var topicScore = {}
        var skip = 1

        for (i = start; i < data.domains.length; i++) {
            var d = data.domains[i]
            var ifContinue = true

            // preconditions
            if(rejectDomains.indexOf(d.name) != -1){
                ifContinue = false
                console.log("rejected domain", d.name)
            }

            if (ifContinue && i % skip == 0 && len < MAX) {

                // colors
                var color = topicColor[d.majoritytopic[0][0]]


//                var color = null;
//                for (var t = 0; t < d.majoritytopic.length; t++) {
//                    var topic = d.majoritytopic[t];
//                    if (topicScore[topic[0]] == undefined) {
//                        topicScore[topic[0]] = 1
//                    }
//
//                    if (topic[1] != 0 && topicScore[topic[0]] < data.PARAM.MAXENTRIES * 0.2) {
//                        color = topicColor[topic[0]]
//                        topicScore[topic[0]]++
//                        break
//                    } else {
//                        if (t != 0) {
//                            color = topicColor[d.majoritytopic[t - 1][0]]
//                        }
//                    }
//
//                    if (t == d.majoritytopic.length - 1 && color == null) {
//                        color = topicColor[d.majoritytopic[0][0]]
//                    }
//                }

                d = data.domains[i];
                var x = d['x']
                var y = d['y']

                if(x != -99 && y != -99){

                    g.nodes.push({
                        id: 'd' + i,
                        label: d.name + " (" + d.optional.tag + ") ",
                        //label: d.name,
                        x: x,
                        y: y,
                        size: d.size,
                        color: color,
                    })

                    nodes.push('d' + i)
                    len++

                }
            }
        }

        console.log("tags", tags, "added", len)  // test view unique tags

        var k = 0
        for (var i = 0; i < data.matrix.length; i++) {
            for (var j = 0; j < data.matrix[i].length; j++) {
                var o = data.matrix[i][j];
                if (o && nodes.indexOf('t' + i) != -1 && nodes.indexOf('d' + j) != -1) {
                    g.edges.push({
                        id: 'e' + k,
                        target: 't' + i,
                        source: 'd' + j,
                        size: o.size,
                        color: '#DFD7D7',
//                        color: edgeColor[i],
                        //'type': ['line', 'curve'][Math.random() * 4 | 0],
                        'type': 'line',
                        data: {
                            quantity: 1,
                        }
                    })
                    k++
                }
            }
        }

        next();
    }

    function rand(min, max) {
        return Math.random() * (max - min) + min;
    }

    function init() {
        s = new sigma({
            graph: g,
            renderer: {
                // IMPORTANT:
                // This works only with the canvas renderer, so the
                // renderer type set as "canvas" is necessary here.
                container: document.getElementById('graph-container'),
                type: 'canvas'
            },
            settings: {
                font: "roboto",
//                font: "calibri",
                doubleClickEnabled: false,
                enableEdgeHovering: true,
                edgeHoverColor: 'edge',
                defaultEdgeHoverColor: '#000',
                edgeHoverSizeRatio: 1,
                edgeHoverExtremities: true,
                autoCurveRatio: 2,
                labelThreshold: 0,
                maxNodeSize: 16,
                labelAlignment: 'bottom',
                labelSize: 'fixed',
//                labelSize: 'proportional',

            }
        });

        // Instanciate the design:
        var design = sigma.plugins.design(s, {
            styles: myStyles,
            palette: myPalette
        });

        design.apply();
    }

    var DATA;
    d3.json('data/formatted/polygon_topics1.json', function (data) {
        DATA = data
        readData(data, function () {
            init()
        })
    })


    // Then, wait for all images to be loaded before instanciating sigma:
    //    urls.forEach(function (url) {
    //        sigma.canvas.nodes.image.cache(
    //                url,
    //                function () {
    //                    if (++loaded === urls.length)
    //                    // Instantiate sigma:
    //                        d3.json('data/formatted/test.json', function (data) {
    //                            readData(data, function () {
    //                                init()
    //                            })
    //                        })
    //                }
    //        );
    //    });
</script>
