<!-- START SIGMA IMPORTS -->
<script src="../src/sigma.core.js"></script>
<script src="../src/conrad.js"></script>
<script src="../src/utils/sigma.utils.js"></script>
<script src="../src/utils/sigma.polyfills.js"></script>
<script src="../src/sigma.settings.js"></script>
<script src="../src/classes/sigma.classes.dispatcher.js"></script>
<script src="../src/classes/sigma.classes.configurable.js"></script>
<script src="../src/classes/sigma.classes.graph.js"></script>
<script src="../src/classes/sigma.classes.camera.js"></script>
<script src="../src/classes/sigma.classes.quad.js"></script>
<script src="../src/captors/sigma.captors.mouse.js"></script>
<script src="../src/captors/sigma.captors.touch.js"></script>
<script src="../src/renderers/sigma.renderers.canvas.js"></script>
<script src="../src/renderers/sigma.renderers.webgl.js"></script>
<script src="../src/renderers/sigma.renderers.svg.js"></script>
<script src="../src/renderers/sigma.renderers.def.js"></script>
<script src="../src/renderers/webgl/sigma.webgl.nodes.def.js"></script>
<script src="../src/renderers/webgl/sigma.webgl.nodes.fast.js"></script>
<script src="../src/renderers/webgl/sigma.webgl.edges.def.js"></script>
<script src="../src/renderers/webgl/sigma.webgl.edges.fast.js"></script>
<script src="../src/renderers/webgl/sigma.webgl.edges.arrow.js"></script>
<script src="../src/renderers/canvas/sigma.canvas.labels.def.js"></script>
<script src="../src/renderers/canvas/sigma.canvas.hovers.def.js"></script>
<script src="../src/renderers/canvas/sigma.canvas.nodes.def.js"></script>
<script src="../src/renderers/canvas/sigma.canvas.edges.def.js"></script>
<script src="../src/renderers/canvas/sigma.canvas.edges.curve.js"></script>
<script src="../src/renderers/canvas/sigma.canvas.edges.arrow.js"></script>
<script src="../src/renderers/canvas/sigma.canvas.edges.curvedArrow.js"></script>
<script src="../src/renderers/canvas/sigma.canvas.edgehovers.def.js"></script>
<script src="../src/renderers/canvas/sigma.canvas.edgehovers.curve.js"></script>
<script src="../src/renderers/canvas/sigma.canvas.edgehovers.arrow.js"></script>
<script src="../src/renderers/canvas/sigma.canvas.edgehovers.curvedArrow.js"></script>
<script src="../src/renderers/canvas/sigma.canvas.extremities.def.js"></script>
<script src="../src/renderers/svg/sigma.svg.utils.js"></script>
<script src="../src/renderers/svg/sigma.svg.nodes.def.js"></script>
<script src="../src/renderers/svg/sigma.svg.edges.def.js"></script>
<script src="../src/renderers/svg/sigma.svg.edges.curve.js"></script>
<script src="../src/renderers/svg/sigma.svg.labels.def.js"></script>
<script src="../src/renderers/svg/sigma.svg.hovers.def.js"></script>
<script src="../src/middlewares/sigma.middlewares.rescale.js"></script>
<script src="../src/middlewares/sigma.middlewares.copy.js"></script>
<script src="../src/misc/sigma.misc.animation.js"></script>
<script src="../src/misc/sigma.misc.bindEvents.js"></script>
<script src="../src/misc/sigma.misc.bindDOMEvents.js"></script>
<script src="../src/misc/sigma.misc.drawHovers.js"></script>
<!-- END SIGMA IMPORTS -->
<div id="container">
    <style>
        #graph-container {
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            position: absolute;
        }
    </style>
    <div id="graph-container"></div>
</div>
<script>
    /**
     * This is a basic example on how to develop a custom node renderer. In
     * this example, the renderer will display an image clipped in a disc,
     * with a border colored according the node's "color" value.
     *
     * If a node as the value "image" to its attribute "type", then it will
     * displayed with the node renderer "sigma.canvas.nodes.image", with the
     * url being its "url" value.
     *
     * IMPORTANT: This node renderer just works with the canvas renderer. If
     * you do want to display images with the WebGL renderer, you will have
     * to develop a specific WebGL node renderer.
     */
    sigma.utils.pkg('sigma.canvas.nodes');
    sigma.canvas.nodes.image = (function () {
        var _cache = {},
                _loading = {},
                _callbacks = {};

        // Return the renderer itself:
        var renderer = function (node, context, settings) {
            var args = arguments,
                    prefix = settings('prefix') || '',
                    size = node[prefix + 'size'],
                    color = node.color || settings('defaultNodeColor'),
                    url = node.url;

            if (_cache[url]) {
                context.save();

                // Draw the clipping disc:
                context.beginPath();
                context.arc(
                        node[prefix + 'x'],
                        node[prefix + 'y'],
                        node[prefix + 'size'],
                        0,
                        Math.PI * 2,
                        true
                );
                context.closePath();
                context.clip();

                // Draw the image
                context.drawImage(
                        _cache[url],
                        node[prefix + 'x'] - size,
                        node[prefix + 'y'] - size,
                        2 * size,
                        2 * size
                );

                // Quit the "clipping mode":
                context.restore();

                // Draw the border:
                context.beginPath();
                context.arc(
                        node[prefix + 'x'],
                        node[prefix + 'y'],
                        node[prefix + 'size'],
                        0,
                        Math.PI * 2,
                        true
                );
                context.lineWidth = size / 5;
                context.strokeStyle = node.color || settings('defaultNodeColor');
                context.stroke();
            } else {
                sigma.canvas.nodes.image.cache(url);
                sigma.canvas.nodes.def.apply(
                        sigma.canvas.nodes,
                        args
                );
            }
        };

        // Let's add a public method to cache images, to make it possible to
        // preload images before the initial rendering:
        renderer.cache = function (url, callback) {
            if (callback)
                _callbacks[url] = callback;

            if (_loading[url])
                return;

            var img = new Image();

            img.onload = function () {
                _loading[url] = false;
                _cache[url] = img;

                if (_callbacks[url]) {
                    _callbacks[url].call(this, img);
                    delete _callbacks[url];
                }
            };

            _loading[url] = true;
            img.src = url;
        };

        return renderer;
    })();

    // Now that's the renderer has been implemented, let's generate a graph
    // to render:
    var i,
            s,
            img,
            N = 100,
            E = 500,
            g = {
                nodes: [],
                edges: []
            },
            urls = [
                'img/img1.png',
                'img/img2.png',
                'img/img3.png',
                'img/img4.png'
            ],
            loaded = 0,
            colors = [
                '#617db4',
                '#668f3c',
                '#c6583e',
                '#b956af'
            ];

    // Generate a random graph, with ~30% nodes having the type "image":
    for (i = 0; i < N; i++) {
        img = Math.random() >= 0.7;
        g.nodes.push({
            id: 'n' + i,
            label: 'Node ' + i,
            type: img ? 'image' : 'def',
            url: img ? urls[Math.floor(Math.random() * urls.length)] : null,
            x: Math.random(),
            y: Math.random(),
            size: Math.random(),
            color: colors[Math.floor(Math.random() * colors.length)]
        });
    }

    for (i = 0; i < E; i++)
        g.edges.push({
            id: 'e' + i,
            source: 'n' + (Math.random() * N | 0),
            target: 'n' + (Math.random() * N | 0),
            size: Math.random()
        });

    // Then, wait for all images to be loaded before instanciating sigma:
    urls.forEach(function (url) {
        sigma.canvas.nodes.image.cache(
                url,
                function () {
                    if (++loaded === urls.length)
                    // Instantiate sigma:
                        s = new sigma({
                            graph: g,
                            renderer: {
                                // IMPORTANT:
                                // This works only with the canvas renderer, so the
                                // renderer type set as "canvas" is necessary here.
                                container: document.getElementById('graph-container'),
                                type: 'canvas'
                            },
                            settings: {
                                minNodeSize: 8,
                                maxNodeSize: 16,
                            }
                        });
                }
        );
    });
</script>
